html, body, #root {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  padding-bottom: 50px; /* same as footer height */
  flex: 1;
}

.footer{
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;
    color: white;
}
